<%= simple_form_for(@post) do |f| %>
	<%= f.hidden_field :user_id %>	
	<div class="row-fluid">
		<div class="span9"><%= f.input :title, input_html: { class: 'span9' } %></div>
	</div>
	<div class="row-fluid">
		<div class="span10"><%= f.input :description,  input_html:{ rows:10, cols:50 , class:'span10'} %></div>
	</div>
	<div class="row-fluid">
		<div class="span4"><%= f.input :url_image, input_html: { class: 'span4' } %></div>
	</div>
	<div class="row-fluid">
		<div class="span4"><%= f.input :width, input_html: { class: 'span4' } %></div>
	</div>	
	<div class="row-fluid">
		<div class="span4"><%= f.input :key_youtube, input_html: { class: 'span4' } %></div>
	</div>
	
	<div class="form-actions">
		<%= f.button :submit, class: 'btn btn-success' %>
		<%= link_to 'Voltar', posts_path, class: 'btn btn-default' %>
	</div>
<% end %>