<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.user %>
</p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>

<p>
  <strong>Url image:</strong>
  <%= @post.url_image %>
</p>

<p>
  <strong>Key youtube:</strong>
  <%= @post.key_youtube %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
