<table class="table">
		<tr>
			<td class= "text-center">
				<%= image_tag  "#{ @post.url_image}", :width => "#{@post.width}%" %><br>
				<% if @post.url_image.blank? %>
					<iframe width="100%" height="400"
						src=<%="https://www.youtube.com/embed/#{@post.key_youtube}"%>>
					</iframe>
				<% end %>
			</td>	
		</tr>
		<tr>
			<td>
					<h3 class="text-center text-info"><%= @post.title %></h3>
					<i><h5 class="text-center"><%= l @post.created_at, format: :long %></h5></i>
					<p>	
							<%= simple_format(@post.description)  %>								
					</p>
					<small class="text-center">
						<i> publicado por <%= @post.user %></i>
					</small>						
			</td>												
		</tr>
</table>
<div class="form-actions">
	<%= link_to 'Editar', edit_post_path(@post), class: 'btn btn-info' %>
	<%= link_to 'Voltar', posts_path, class: 'btn btn-default' %>	
</div>