<section id="news" class="container content-section">
	<h2 class="text-center"><u>Notícias</u></h2>			
	<table class="table">
		<%@posts = Post.all%>
		<% unless  @posts.nil? || @posts.empty?  %>
			<% @posts.each do |p|%>
			<tr>
				<td class= "text-center">
					<%= image_tag  "#{ p.url_image}", :width => "100%" %><br>
					<% if p.url_image.blank? %>
						<iframe width="100%" height="400"
							src=<%="https://www.youtube.com/embed/#{p.key_youtube}"%>>
						</iframe>
					<% end %>
				</td>	
			</tr>
			<tr>
				<td>
						<h3 class="text-center text-info"><%= p.title %></h3>
						<i><h5 class="text-center"><%= l p.created_at, format: :long %></h5></i>
						<p>	
								<%= simple_format(p.description)  %>								
						</p>
						<small class="text-center">
							<i> publicado por <%= p.user %></i>
						</small>						
				</td>												
			</tr>
			
		<% end %>
		<% else %>
			<tr>
				<td colspan="2" class="text-center">
					Nenhuma notícia foi postada.
				</td>
			</tr>			
		<% end %>
	</table>
</section>